/* style.css */

h1 {
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: blue;
    font-weight: bold;
}

/* Global styles */

body {
    font-family: 'Roboto', sans-serif;
}

/* Add your custom styles here */